services:
  redis:
    image: redis
    ports:
      - "6379:6379"
    restart: unless-stopped
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: ${DB_USER:-admin}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-admin}
      POSTGRES_DB: ${DB_NAME:-db_products}
    ports:
      - "5432:5432"
    restart: unless-stopped
